@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet fixes */
.leaflet-container {
  z-index: 0;
}

.leaflet-routing-container {
  display: none !important;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}

/* Fix for marker icons */
.leaflet-default-icon-path {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png);
}